app-header header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
}

app-header.dark header {
    background-color: black;
}

app-header header > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

app-header header > a > img {
    height: 25%;
}

app-header header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

app-header header .wiki {
    position: relative;
    z-index: 2;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: .75rem 1.5rem;
}

app-header header .wiki::before {
    position: absolute;
    content: "";
    z-index: 1;

    transition: 100ms ease-in-out all;

    background: transparent;

    inset: -10px;
}

app-header header .wiki:hover::before {
    inset: -10px;
    filter: blur(30px);

    background: radial-gradient(
        circle,
        rgba(255,255,255,0.6),
        rgba(255,255,255,0.1),
        transparent 80%
    );
}

app-header header .play {
    position: relative;
    z-index: 2;
    font-weight: bold;
    background-color: dodgerblue;
    color: white;
    padding: .75rem 1.5rem;
}

app-header header .play::before {
    position: absolute;
    content: "";
    z-index: 1;

    transition: 400ms ease-in-out all;

    background: transparent;

    inset: -10px;
    filter: blur(20px);
}

app-header header .play:hover::before {
    inset: -10px;
    filter: blur(30px);

    background: radial-gradient(
        circle,
        rgba(30,144,255,0.6),
        rgba(30,144,255,0.1),
        transparent 80%
    );
}
